@using DataTrsfer

@{
    ViewBag.Title = "上传图片";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/plupload/plupload.full.min.js"></script>
<script src="~/Scripts/Tool.js"></script>
<style>
    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .list-group-item {
        margin: 0px 1px 2px 1px;
    }
    .list-group{
        margin-bottom:0px;
    }
</style>

<script type="text/javascript">

    function addGallery() {
        layer.open({
            title: "添加相册",
            type: 1,
            scrollbar: false,
            area: ['360px', '200px'],
            shadeClose: true,
            skin: 'layui-layer-rim', //加上边框
            content: '<div class="center"><h3 style="text-align:center;">添加相册</h3><div style="text-align:center;">相册名称:<input type="text" id="addName"><br><input type="button" value="添加" class="btn-default" style="position:relative;float:right;right:58px;" onclick="submitAdd()"><div class="clear"></div></div></div>'
        });
    }

    function submitAdd() {
        var addName = $('#addName').val();
        if (!addName) {
            layer.tips('名称不能为空', '#addName');
            return;
        }
        $.ajax({
            type: 'post',
            url: '/PhotoGallery/Add',
            data: { name: addName },
            success: function (data) {
                if (data.StatusCode == 1) {
                    window.location.reload();
                    return;
                }
                else
                    layer.msg(data.Message);
            }
        });
    }

    
</script>
<div class="container" style="min-height:500px;">
    <h2>上传图片&nbsp;&nbsp;<a style="font-size:10px;cursor:pointer;text-decoration:none;" onclick="addGallery()">新建相册</a></h2>
    <p>

        相册: <select id="gallery" onchange="change()" class="btn btn-default dropdown-toggle">
            @{
                List<PhotoGalleryDt> list = ViewBag.Gallery;
                if (list == null || list.Count == 0)
                {
                    <option value="-1">默认</option>
                }
                else
                {
                    foreach (PhotoGalleryDt gallery in list)
                    {
                        if (ViewBag.galleryId == gallery.PhotoGalleryId)
                        {
                            <option value="@gallery.PhotoGalleryId" selected="selected">@gallery.Name</option>
                        }
                        else
                        {
                            <option value="@gallery.PhotoGalleryId">@gallery.Name</option>
                        }
                    }
                }
            }
        </select>
        分类: <select id="category" onchange="change()" class="btn btn-default dropdown-toggle">
            @{
                List<PhotoCategoryDt> listCate = ViewBag.Category;
                if (listCate == null || listCate.Count == 0)//
                {
                    <option value="4">默认</option>
                }
                else
                {
                    foreach (PhotoCategoryDt item in listCate)
                    {
                        <option value="@item.PhotoCategoryId">@item.Name</option>
                    }
                }

            }

        </select>

        <button id="browse" class="btn btn-default">选择文件</button>
        <button id="upload-btn" class="btn btn-default">开始上传</button>
    </p>
    <ul id="file-list" class="list-group"></ul>
</div>

<script src="~/Scripts/Upload.js"></script>
