@using DataTrsfer
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_UserCenterLayout.cshtml";
}
<link href="~/Content/usercenter.css" rel="stylesheet" />
<style>
    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .list-group-item {
        margin: 0px 1px 2px 1px;
    }



    div.polaroid {
        position: relative;
        width: 22.8%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px 12.5px 25px 12.5px;
        float: left;
    }

    div.pcenter {
        text-align: center;
        padding: 10px 20px;
        cursor: pointer;
    }

    .img1 {
        display: inline-block;
        width: 180px;
        height: 180px;
        cursor: pointer;
    }

    .hiddenbtn {
        display: none;
    }
</style>
<script type="text/javascript">
    var hidden = true;
    $(function () {
        $('#liGallery').addClass('active');
        $("#eidtall").click(function () {
            if (hidden) {
                $(".hiddenbtn").css("display", "block");
                $("#eidtall").val("取消操作");
                hidden = false;
            } else {
                $(".hiddenbtn").css("display", "none");
                $("input[type=checkbox]").removeAttr("checked");
                $("#eidtall").val("批量操作");
                hidden = true;
            }
        });
        initClick();
        
    });

    function initClick() {
        $('.pcenter p').click(function () {
            var obj = $(this);
            var oldValue = obj.text();
            var parentObj = obj.parent();
            obj.html("");
            var inputIns = $('<input type="text" value="' + oldValue + '" style="height: 22px;"/>');
            parentObj.html(inputIns).focus().select();
            inputIns.focus().select()
            inputIns.keyup(function (event) {
                //1.判断是否回车按下
                //结局不同浏览器获取时间的差异
                var myEvent = event || window.event;
                var key = myEvent.keyCode;
                if (key == 13) {
                    editName($(this), parentObj);
                }
            });
            //处理Enter和Esc事件   
            inputIns.blur(function () {
                editName($(this), parentObj);
            });
        });
    }

    function editName(obj, parentObj) {
        var inputNode = obj;
        //1.保存当前文本框的内容
        var inputText = inputNode.val();
        //2.清空td里面的内容
        inputNode.parent().html('<p style="overflow: hidden; text-overflow: ellipsis;height: 22px;" title="' + inputText + '">' + inputText + '</p>');
        editGallery(inputText, parentObj.attr('data-id'));
    }

    function quanxianall() {
        if ($("input[type='checkbox']:checked").length <= 0) {
            layer.msg("请选择照片", { time: 1000 });
            return;
        }
        layer.open({
            title: "设置权限",
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            shadeClose: true,
            shade: 0.8,
            content: '<div style="text-align:center;margin:10px 15px 0px;"><input type="radio" name="see"/>对外可见<input type="radio" name="see"/>对外不可见<br/><input type="button" class="btn btn-default" id="setsee" value="确定"/></div>'
        });
    }
    function deleteall() {
        if ($("input[type='checkbox']:checked").length <= 0) {
            layer.msg("请选择相册", { time: 1000 });
            return;
        }
        var str = '';
        $("input[type='checkbox']:checked").each(function () {
            str += $(this).val() + ',';
        });
        $.ajax({
            type: "post",
            url: "/PhotoGallery/DeleteAll",
            data: { idstr: str },
            success: function (o) {
                if (o.StatusCode == 1) {
                    layer.msg("成功");
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
                else {
                    layer.msg(o.Message);
                }
            }
        });

    }

    function editGallery(name, galleryId) {
        if (!name || !galleryId)
            return layer.msg('参数错误');
        $.ajax({
            url: '/PhotoGallery/EditGaleryName',
            type: 'post',
            data: { name: name, galleryId: galleryId },
            success: function (data) {
                //layer.msg(data.Message);
                initClick();
            }
        });
    }

    function addGallery() {
        layer.open({
            title: "添加相册",
            type: 1,
            scrollbar: false,
            area: ['360px', '200px'],
            shadeClose: true,
            skin: 'layui-layer-rim', //加上边框
            content: '<div class="center"><h3 style="text-align:center;">添加相册</h3><div style="text-align:center;">相册名称:<input type="text" id="addName"><br><input type="button" value="添加" class="btn-default" style="position:relative;float:right;right:58px;" onclick="submitAdd()"><div class="clear"></div></div></div>'
        });
    }

    function submitAdd() {
        var addName = $('#addName').val();
        if (!addName) {
            layer.tips('名称不能为空', '#addName');
            return;
        }
        $.ajax({
            type: 'post',
            url: '/PhotoGallery/Add',
            data: { name: addName },
            success: function (data) {
                if (data.StatusCode == 1) {
                    window.location.reload();
                    return;
                }
                else
                    layer.msg(data.Message);
            }
        });
    }
</script>

<div style="position:relative;top:-50px;z-index:999;width:400px;">
    <input type="button" class="btn btn-default" value="批量操作" id="eidtall" /><div style="position: absolute; top: 0px; left: 86px;" class="hiddenbtn"> <input type="button" class="btn btn-default" value="删除" onclick="deleteall()" /> @*<input type="button" class="btn btn-default" value="设置权限" onclick="quanxianall()" />*@</div>
</div>
<div style="top: -15px; position: relative;">
    <label><a href="javascript:;" onclick="addGallery()">添加相册</a></label>
</div>
<div id="divContainer">
    
    
    @{
        List<PhotoGalleryDt> list = ViewBag.ListGallery;
        if (list == null || list.Count == 0)
        {
            <label>暂无相册</label>
        }
        else
        {
            foreach (PhotoGalleryDt phtot in list)
            {

                <div class="polaroid">
                    <div style="position:absolute;right:0px;border:0px;top:0px;" class="hiddenbtn"><input type="checkbox" class="btn btn-default" style="height:25px;width:25px;color:blue;" name="photos" value="@phtot.PhotoGalleryId" /></div>
                    <a href="/UserCenter/GalleryPhotos?galleryId=@phtot.PhotoGalleryId">
                        @if (phtot.CoverImg == null)
                        {
                            phtot.CoverImg = "/images/cover.png";
                        }
                        <img src="@phtot.CoverImg" alt="Norway" style="width:100%;" class="img1" />
                    </a>
                    <div class="pcenter" data-id="@phtot.PhotoGalleryId">
                        <p style="overflow: hidden; text-overflow: ellipsis;height: 22px;" title="@phtot.Name">@phtot.Name</p>
                    </div>
                </div>
            }

        }

    }
    <div class="clear"></div>
</div>
<div class="clear"></div>



