
﻿@using DataTrsfer
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/usercenter.css" rel="stylesheet" />
<style>
  
    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .list-group-item {
        margin: 0px 1px 2px 1px;
    }



    div.polaroid {
        position: relative;
        width: 22.8%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px 12.5px 25px 12.5px;
        float: left;
    }

    div.pcenter {
        text-align: center;
        padding: 10px 20px;
        cursor: pointer;
    }

    .img1 {
        display: inline-block;
        width: 180px;
        height: 180px;
        cursor: pointer;
    }

    .hiddenbtn {
        display: none;
    }

    .polaroid:hover .hiddenbtn {
        display: block;
    }
    
</style>
<script type="text/javascript">
    function loadPhotos(galleryId) {
        $.ajax({
            url: '/usercenter/PhotoGallery',
            type: 'post',
            data: { galleryId: galleryId },
            success: function (data) {
                if (data.StatusCode == 1) {
                    galleryPhotos(data.Data)
                }
                else
                    layer.msg(data.Message);
            }
        });
    }
    //相册下的照片
    function galleryPhotos(json) {
        console.log(json);
        var str = '';
        $.each(json, function () {
            str += '<div class="polaroid" onclick="getPhotoDetails(' + this.PhotoId + ')"><div style="position:absolute;right:0px;border:0px" class="hiddenbtn"><input type="button" class="btn btn-default" style="background-color:red;color:white;border-radius:0;"  value="设为封面" /></div><a href="javascript:;" class="ahover"><img src="' + this.ImgUrl + '" alt="Norway" style="width:100%;" class="img1" /></a><div class="pcenter"><p style="overflow: hidden; text-overflow: ellipsis; " title="' + this.Name + '">' + this.Name + '</p></div></div>';
        });
        $('#h2Name').text('图片列表');
        $('#divContainer').html(str);
    }

    function initPhotos(json) {
        console.log(json);
        var str = '';
        $.each(json, function () {
            str += '<div class="polaroid" onclick="getPhotoDetails(' + this.PhotoId + ')"><a href="javascript:;"><img src="' + this.ImgUrl + '" alt="Norway" style="width:100%;" class="img1" /></a><div class="pcenter"><p style="overflow: hidden; text-overflow: ellipsis; " title="' + this.Name + '">' + this.Name + '</p></div></div>';
        });
        $('#h2Name').text('图片列表');
        $('#divContainer').html(str);
    }

    function getPhotoDetails(photoId) {
        window.location.href = "/Photo/Details?photoId=" + photoId;
    }

    function getAllPhotos() {
        $.ajax({
            url: '/usercenter/GetAllPhotos',
            type: 'post',
            success: function (data) {
                if (data.StatusCode == 1) {
                    initPhotos(data.Data)
                }
                else
                    layer.msg(data.Message);
            }
        });
    }

    function getLikePhotos() {
        $.ajax({
            url: '/usercenter/GetLikePhotos',
            type: 'post',
            success: function (data) {
                if (data.StatusCode == 1) {
                    initPhotos(data.Data)
                }
                else
                    layer.msg(data.Message);
            }
        });
    }

</script>
<div class="container" style="min-height:633px;">
    <div style="width: 100%; height: 250px; margin: auto; text-align: center;">
        <div style="position:relative;height:50px; border-bottom:1px solid #d8d8d8;">
        </div>
        <div style=" position: relative; top: -49px;">
            <img src="/images/touxiang.png" alt="Alternate Text" style="border-radius:50%;" width="100px;" />
        </div>
        <div><span style="font-size: 30px; position: relative; top: -43px;">黄色小金鱼</span></div>

        <div class="profile_nav_wrapper">
            <div class="tabs_wrapper fix_width_on_modal">
                <ul class="profile_nav px_tabs">
                    <li class="active">
                        <a data-nav="photos" href="javascript:;" onclick="getAllPhotos()">
                            相片
                        </a>
                    </li>
                    <li>
                        <a data-nav="galleries" href="/usercenter/usercenter">
                            <span class="translation_missing" title="translation missing: en.profiles.show.nav.galleries">相册</span>
                        </a>
                    </li>
                    <li>
                        <a data-nav="groups" href="javacript:;" onclick="getLikePhotos()">
                            喜欢
                        </a>
                    </li>
                    <li>
                        <a data-nav="about" href="/cl889521/about">
                            个人资料
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="clear"></div>


    </div>
    @*<h2 id="h2Name">相册列表</h2>
    <div class="panel-group pull-left" id="accordion" style="position:absolute;width:10%;min-width:50px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        用户中心
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div>
                    <a href="#" class="list-group-item">个人资料</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        照片中心
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div>
                    <a href="/usercenter/usercenter" class="list-group-item">我的相册</a>
                    <a href="javascript:;" onclick="getAllPhotos()" class="list-group-item">我的相片</a>
                    <a href="javascript:;" onclick="getLikePhotos()" class="list-group-item">喜欢</a>
                </div>
            </div>
        </div>
    </div>*@
    <div id="divContainer">

        @{
            List<PhotoGalleryDt> list = ViewBag.ListGallery;
            if (list == null || list.Count == 0)
            {
                <label>没有图片</label>
            }
            else
            {
                foreach (PhotoGalleryDt phtot in list)
                {

                    <div class="polaroid" onclick="loadPhotos('@phtot.PhotoGalleryId')">
                        <a href="javascript:;">
                            @if (phtot.CoverImg == null)
                            {
                                phtot.CoverImg = "/images/cover.png";
                            }
                            <img src="@phtot.CoverImg" alt="Norway" style="width:100%;" class="img1" />
                        </a>
                        <div class="pcenter">
                            <p style="overflow: hidden; text-overflow: ellipsis; " title="@phtot.Name">@phtot.Name</p>
                        </div>
                    </div>

                    @*<li class="list-group-item" style="float:left;width:24.5%;height:250px;">
                            <div>
                                <img src="@phtot.ImgUrl" style="max-width:100%;max-height:76%;" />
                            </div>
                            <p style="width: 90%; word-wrap: break-word;position:absolute;bottom:2px;">@phtot.Name</p>
                        </li>*@
                }

            }

        }
        @*</ul>*@
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>


