@model IEnumerable<DataTrsfer.PhotoDt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .table th, td {
        text-align: center;
    }
</style>
<script>
    $(document).ready(function () {
        //设置搜索框的样式
        $("#sousuo").children().addClass("btn btn-default"); 
        //分页
        $(".tcdPageCode").createPage({
            pageCount: parseInt('@ViewBag.pageCount'),
            current: parseInt('@ViewBag.pageIndex'),
            backFn: function (p) {
                window.location.href = '/AdminPhoto/Index?pageindex=' + p + '&name='+'@ViewBag.name'+'&author='+'@ViewBag.author'+'&category='+'@ViewBag.category';
            }
        });
        //初始化分类下拉列表
        loadCategory();
       
    });
    function loadCategory() {
        $.ajax({
            type: "get",
            url: "/PhotoCategory/GetList",
            success: function (o) {
                if (o.StatusCode == 1) {
                    var categoryList;
                    categoryList = o.Data;
                    var str = '';
                    $.each(categoryList, function () {
                        str += '<option value="' + this.PhotoCategoryId + '">' + this.Name + '</option>';
                    });
                    $("#category:not(:first)").remove();
                    $("#category").append(str);
                    $("#category").find('option[value=' + '@ViewBag.category' + ']').attr('selected', 'selected');
                }
            }
        });
    }
    function deletePhoto(id) {
        $.ajax({
            type: "post",
            url: "/AdminPhoto/Delete",
            data: { id: id },
            success: function (o) {
                if (o.StatusCode == 1) {
                    layer.msg("成功");
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
        });
    }
    //搜索
    function submit() {
        var name = $("#name").val().trim();
        var author = $("#author").val().trim();
        var category = $("#category").val();
        window.location.href = "/AdminPhoto/Index?pageindex=1&name="+name+"&author="+author+"&category="+category;
    }
</script>
<div class="page-header">
    <h1>
        照片管理
    </h1>
</div>
<div style="margin-bottom:1em;position:relative;float:right;right:1em;" id="sousuo">
    名称:<input type="text" value="@ViewBag.name" id="name" />作者:<input type="text" value="@ViewBag.author" id="author" />
    分类<select id="category">
        <option value="">全部</option>
    </select> <input type="button" onclick="submit();" class="btn-info" value="搜索" />
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoGalleryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuppostCount)
        </th>

        <th></th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoGalleryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <img src="@item.ImgUrl" alt="Alternate Text" width="100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <p>已分享</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuppostCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    <a href="/photo/details?photoId=@item.PhotoId">Details</a> |
                    <a href="javascript:;" onclick="deletePhoto(@item.PhotoId)">Delete</a>
                </td>
            </tr>
        }
    }

</table>
<div class="tcdPageCode">
</div>
